/* FloatingButton.css */

.floating-button-container {
    position: fixed;
    right: 10px; /* Adjust as needed */
    bottom: 70px; /* Adjust as needed */
  }
  @media only screen and (max-width: 920px) {
    .floating-button-container{
      position: fixed;
      right: 10px;
      bottom: 10px;
    }
  }

  .floating-button {
    position: relative;
    z-index: 1;
    padding: 5px 20px;
    background-color: coral;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid coral; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  